$width: 100%;
html{
    margin: 0;
    padding: 0;
    width: $width;
    // height: $width;
    background-color: #f0f0ee;
}
body{
    max-width: 640px;
    min-width: 320px;
    overflow-x: hidden;
    margin: 0 auto;
    font-size: 14px;
    background-color: #fff;
    // height: $width;
    position: relative;
    input{
        font-size: 14px;
    }
}
@mixin overflow {
    height: auto;
    overflow: hidden;
}
@mixin width{
    width : $width;
}
.container {
    position: relative;
    height: $width;
    display: none;
    .van-loading{
        text-align: center;
        margin-top: 200px;
        .van-loading__text{
            color: white;
        }
    }
    .span{
        display: inline-block;
        padding: 10px 16px;
        box-sizing: border-box;
        text-align: center;
    }
    .submit{
        position: fixed;
        bottom: 0;
        left: 0;
        width: $width;
        background-color: white;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0 0 10px rgba(0,0,0, 0.22);
        button{
            margin: 0 auto;
            width: $width - 10%;
        }
    }
    .van-cell-group{
        margin-bottom: 64px;
        .cell_border{
            border-top: 10px solid #F0F0F0
        }
        .van-step__title{
            h3,p{
                margin: 0;
                padding: 0;
            }
        }
    }
}