
doctype html
html(lang="en")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge") 
  meta(http-equiv="Pragma" content="no-cache")
  meta(http-equiv="Cache-control" content="no-cache") 
  meta(http-equiv="Cache" content="no-cache") 
  head
    title 咖速修
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vant@2.8/lib/vant.min.js")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.8/lib/index.css")
    style(lang = "scss").
      .van-loading{
        margin: 0 !important;
      }
      .van-uploader__mask-message{
          font-size: 12px !important;
      }
  body
    .container#app
      van-overlay(:show="loadingShow")
        van-loading(size="24px") 加载中...
      van-skeleton(title :row="20" :loading="show")
        van-swipe(class="my-swipe" :autoplay="3000" indicator-color="white" :show-indicators=false)
          van-swipe-item
              img(:src="image")
        .machine.center
          ul
            .hr
            li(@click="contentMsg = !contentMsg")
              span 服务类型
              .machineName
                span {{ machine.machineName }}
                van-icon(name="arrow" size="16")
            .hr
            .title_name 客户信息
            li
              span 门店名称：
              van-field(v-model="formData.shopName")
            li
              span 联系人：
              van-field(v-model="formData.contactName")
            li
              span 联系电话：
              van-field(v-model="formData.contactPhone" type="tel")
            li
              span 地区：
              van-field(style="height: 45px;width: 100%" v-model="formData.citys" @click="region()" readonly )
            li
              span 详细地址：
              van-field(v-model="formData.address")
            li
              span 文本识别：
              p(style="font-size: 10px;color: #ccc") 请按照规定格式，格式不正确会引起识别缺失或无法识别
              van-field(type="textarea" v-model="formData._textarea")
              p(style="text-align: center;margin: 0 auto; width: 60%;background-color: red; border-radius: 5px;line-height: 36px;color: #fff;margin-top: 10px;" @click="searAddress") 内容识别
            .hr
            .title_name 产品明细（半自动或奶泡机需填写编号）
            li(v-for="(item, index) in projects" v-bind:keys="index")
              span 第{{ index + 1 }}个 产品名称 
                van-tag(type="danger" @click="deleteProduct(index)" style="margin-left: 10px;") 删除
              van-field(v-model="item.name")
            .project_add(@click="addProduct")
              van-icon(name="add-o")
              | 添加产品
            li
              span 期望上门时间：
              van-field(v-model="formData.visitingTime" @click="vistingTimeFn")
            li
              span 上门备注：
              textarea(placeholder="请填写备注信息" v-model="formData.faultContent")
            .hr
            .title_name 上传视频：
            li
              .file(v-if="!video")
                van-uploader(accept="video/*" multiple :after-read="updataVideo" :max-count="1" :max-size="50 * 1024 * 1024" @oversize="onOversize")
              .video_file(v-if="video")
                video(:src="videoFile" controls="controls" width="200" height="200")
                van-tag(type="danger" size="medium" class="video_file_tag" @click="video = false; videoFile = '';") 删除视频
            li
              span 图片
              .file
                van-uploader(v-model="fileList" multiple :after-read="updataFile('faultDiagram')" :before-delete="deleteFn('fileList')")
            //- li
            //-   span 机器铭牌图
            //-   .file
            //-     van-uploader(v-model="fileList" multiple :after-read="updataFile('machineBrandPic')" :before-delete="deleteFn('fileList')")
            //- li
            //-   span 机器整体图
            //-   .file
            //-     van-uploader(v-model="fileLists" multiple :after-read="updataFile('machineOverallPic')" :before-delete="deleteFn('fileLists')")
            //- li
            //-   span 问题部位图
            //-   .file
                van-uploader(v-model="fileListss" multiple :after-read="updataFile('faultPartPic')" :before-delete="deleteFn('fileListss')")
            //- van-action-sheet(v-model="contentMsg" :actions="actions" @select="onSelect" cancel-text="取消" close-on-click-action)
          van-button(round type="info" size="normal" @click="submit" :loading="handling ? true : false" ) 提交
        van-popup(v-model="contentMsg" position="bottom")
          van-tree-select(:items="items" :active-id.sync="activeId" :main-active-index.sync="activeIndex" @click-item="onSelect")
        van-popup(v-model="timeMsg" position="bottom" :style="{ height: '40%' }")
          van-datetime-picker(v-model="currentDate"
                type="datetime"
                title="选择完整时间"
                :min-date="minDate"
                :max-date="maxDate"
                @confirm="submitTime"
                :formatter="formatter")
        van-popup(v-model="addressMsg" position="bottom" :style="{ height: '40%' }")
          van-area(title="地区选择" :area-list="areaList" @confirm="region")

        van-tabbar(v-model="active" @change="ourHref" :style="bottomFooter")
            van-tabbar-item(icon="comment-o") 填写信息
            van-tabbar-item(icon="todo-list-o") 我的工单
            van-tabbar-item(icon="manager-o") 用户中心
      