
doctype html
html(lang="en")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge") 
  meta(http-equiv="Pragma" content="no-cache")
  meta(http-equiv="Cache-control" content="no-cache") 
  meta(http-equiv="Cache" content="no-cache") 
  head
    title 咖速修
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.8/lib/index.css")
  body
    .container#app
      van-overlay(:show="loadingShow")
        van-loading(size="24px") 加载中...
      van-skeleton(title :row="20" :loading="show")
        van-swipe(class="my-swipe" :autoplay="3000" indicator-color="white" :show-indicators=false)
          van-swipe-item
              img(:src="image")
        van-cell-group
          van-cell(v-for="item in workList" :title="item.name" :value="item.value")
            template(#right-icon v-if="item.name == '机器铭牌图片' || item.name == '机器整体图片' || item.name == '故障部分图'")
              van-icon(name="photo-o" style="line-height: inherit;" @click="preview(item.view)")
          
          