
doctype html
html(lang="en")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge") 
  meta(http-equiv="Pragma" content="no-cache")
  meta(http-equiv="Cache-control" content="no-cache") 
  meta(http-equiv="Cache" content="no-cache") 
  head
    title 咖速修
  body
    .container#app
        .free_view_circular
            .free_circular
    van-swipe(class="my-swipe" :autoplay="3000" indicator-color="white")
        - for (var x = 0; x < 3; x++)
            van-swipe-item .x

    