
doctype html
html(lang="en")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge") 
  meta(http-equiv="Pragma" content="no-cache")
  meta(http-equiv="Cache-control" content="no-cache") 
  meta(http-equiv="Cache" content="no-cache") 
  head
    title 咖速修
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vant@2.8/lib/vant.min.js")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.8/lib/index.css")
  body
    .container#app
      van-overlay(:show="loadingShow")
        van-loading(size="24px") 加载中...
      van-skeleton(title :row="20" :loading="show")
        van-swipe(class="my-swipe" :autoplay="3000" indicator-color="white" :show-indicators=false)
          van-swipe-item
              img(:src="image")
        .text(style="border-left: 3px solid red;margin-left: 10px;padding-left: 10px;margin-bottom: 20px;") 工单号：{{ workIdLogs }}
        .text(style="border-left: 3px solid red;margin-left: 10px;padding-left: 10px;margin-bottom: 20px;") 状态日志：
        van-steps(direction="vertical" :active="0" active-color="red")
          van-step(v-for="(item, index) in logs" v:key="index")
            h3 {{ (item.logType == 1 ? "确认登记：": item.logType == 1 ? "确认登记：": item.logType == 2 ? "联络登记：": item.logType == 3 ? "派单登记：": item.logType == 4 ? "回访登记：": item.logType == 5 ? "继续联络：": item.logType == 17 ? "编辑登记：": item.logType == 18 ? "提交登记：": "取消登记：") + item.createName }}
            p {{ item.logContent }}
            p {{ item.createTime }}
        van-button(id="goBackOrder" style="margin-bottom: 10px !important") 返回列表
        van-button(id="goBack") 返回详情
          
          