
doctype html
html(lang="en")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge") 
  meta(http-equiv="Pragma" content="no-cache")
  meta(http-equiv="Cache-control" content="no-cache") 
  meta(http-equiv="Cache" content="no-cache") 
  head
    title anchor transform loading ~~~
  body
    script.
      function getQueryString(n){
          var reg = new RegExp("(^|&)" + n + "=([^&]*)(&|$)", "i");
          var e = window.location.search.substr(1).match(reg);
          if(e) return unescape(e[2]);
          return null;
      };
      var an = getQueryString("code");
      var state = getQueryString("state");
      an ? (window.location.href = state + (state.indexOf('?') != -1 ? '&' : '?') + 'code=' + an) : null;
    