
doctype html
html(lang="en")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge") 
  meta(http-equiv="Pragma" content="no-cache")
  meta(http-equiv="Cache-control" content="no-cache") 
  meta(http-equiv="Cache" content="no-cache") 
  head
    title 咖速修
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vant@2.8/lib/vant.min.js")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.8/lib/index.css") 
  body
    .container#app
      van-overlay(:show="loadingShow")
        van-loading(size="24px") 加载中...
      van-skeleton(title :row="20" :loading="show")
        //- .span 工单详情
        //- van-cell-group
        //-   van-cell(v-for="item in workList" :title="item.name" :value="item.value")
        //-     template(#right-icon v-if="item.name == '机器铭牌图片' || item.name == '机器整体图片' || item.name == '故障部分图'")
        //-       van-icon(name="photo-o" style="line-height: inherit;" @click="preview(item.view)")
        van-swipe(class="my-swipe" :autoplay="3000" indicator-color="white" :show-indicators=false)
          van-swipe-item
              img(:src="detailsImages" style="width: 100%;")
        van-cell-group
          van-cell(class="cell_border" title="工单号" :value="workList.workId")

          van-cell(class="cell_border")
            template(#title)
              div(style="width: 4px;background: red;height: 100%;float: left;margin-right: 6px")
              span(class="custom-title" style="font-weight: blod;") 需求信息
          van-cell(title="需求名称" :value="workList.demandChargeName")
          van-cell(title="报修类型名称" :value="workList.repairsTypeName")
          van-cell(title="产品名称" :value="workList.facilityName")
          van-cell(title="备注" :value="workList.faultContent")
          van-cell(v-if="workList.video != '无'")
            template(#title)
              span(class="custom-title" style="font-weight: blod;") 视频附件
              video(:src="workList.video" controls="controls" width="200" height="200" style="display: block;")

          van-cell(class="cell_border")
            template(#title)
              div(style="width: 4px;background: red;height: 100%;float: left;margin-right: 6px")
              span(class="custom-title" style="font-weight: blod;") 门店信息
          van-cell(title="门店名称" :value="workList.shopName")
          van-cell(title="门店地址" :value="workList.objAddress")

          van-cell(class="cell_border")
            template(#title)
              div(style="width: 4px;background: red;height: 100%;float: left;margin-right: 6px")
              span(class="custom-title" style="font-weight: blod;") 联系人信息
          van-cell(title="联系人名称" :value="workList.contactName")
          van-cell(title="联系人电话" :value="workList.contactPhone")
          
          van-cell(class="cell_border")
            template(#title)
              div(style="width: 4px;background: red;height: 100%;float: left;margin-right: 6px")
              span(class="custom-title" style="font-weight: blod;") 师傅信息
          van-cell(title="维修师傅" :value="workList.maintainerName")
          van-cell(title="维修师傅电话" :value="workList.maintainerPhone")
          
          van-cell(class="cell_border")
            template(#title)
              div(style="width: 4px;background: red;height: 100%;float: left;margin-right: 6px")
              span(class="custom-title" style="font-weight: blod;") 订单信息
          van-cell(:value="workList.parentId" v-if="workList.parentId != '无'")
            template(#title)
              span(class="custom-title") 父级工单号
              van-tag(mark type="success") 二
          van-cell(title="创建时间" :value="workList.createTime")
          van-cell(title="创建类型" :value="workList.creationType")
          van-cell(title="微信昵称" :value="workList.nickName")
          van-cell(title="维修金额" :value="workList.maintainPaymentStr")
          van-cell(title="设备名称" :value="workList.machineName")
          van-cell(title="预支付费用" :value="workList.visitCostStr")
          van-cell(title="配件费用" :value="workList.partPaymentStr")
          van-cell(title="期待上门时间" :value="workList.visitingTime")
          van-cell(title="状态" :value="workList.status")
          div(style="padding: 10px 16px;box-sizing: border-box;")
            span(class="logs") 工单日志：
            van-steps(direction="vertical" :active="0")
              van-step(v-for="(item, index) in workList.logs" v:key="index")
                h3 {{ (item.logType == 1 ? "确认登记：": item.logType == 1 ? "确认登记：": item.logType == 2 ? "联络登记：": item.logType == 3 ? "派单登记：": item.logType == 4 ? "回访登记：": item.logType == 5 ? "继续联络：": item.logType == 17 ? "编辑登记：": item.logType == 18 ? "提交登记：": "取消登记：") + item.createName }}
                p {{ item.logContent }}
                p {{ item.createTime }}
        .submit(v-if="submitType")
          van-button(round block type="info" native-type="submit" :loading="handling ? true : false" @click="submitViews") 操作
        
        van-action-sheet(v-model="test" :actions="subTags" @select="submitView")

        van-action-sheet(v-model="contactShow" cancel-text="提交" @cancel="submit" description="填写沟通内容")
          van-field(v-model="message" rows="2" autosize  type="textarea" maxlength="200" placeholder="请输入沟通内容" show-word-limit) 
        van-action-sheet(v-model="matersShow" :actions="actions" @select="submit")
    