<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../public/stylesheets/plugin/element.min.css">
    <script src="../../public/javascripts/plugin/vue.js"></script>
    <script src="../../public/javascripts/plugin/element.min.js"></script>

    <title></title>
</head>


<body class="_scrollbar">
    <div id="c-container-list" style="height: 100%;" data-uri="sys_demand_list" v-loading.fullscreen.lock="loading">
        <el-container>
            <el-main>
                <el-form>
                    <div style="margin-bottom:10px;">
                        <el-button @click="formData = {};tableDatass = []; option = []; tableDatas = []; demandDest()"
                            type="primary">新增<i class="el-icon-plus el-icon--right"></i></el-button>
                    </div>
                </el-form>
                <el-form>
                    <el-input placeholder="请输入内容" v-model="listSearch._value_" class="_searchVal">
                        <el-select v-model="listSearch._name_" class="_searchVal_select" slot="prepend"
                            placeholder="请选择">
                            <el-option label="需求名" value="demandName"></el-option>
                            <!-- <el-option label="需求类型名" value="demandTypeName"></el-option> -->
                        </el-select>
                    </el-input>

                    <el-button icon="el-icon-search" class="_search_btn" @click="list(listSearch)">搜索
                    </el-button>
                </el-form>
                <template>
                    <el-table :data="tableData" stripe style="width: 100%" border>
                        <el-table-column prop="demandTypeName" label="需求名称"></el-table-column>
                        <el-table-column prop="isMultiple" label="多选">
                            <template slot-scope="scope">
                                {{ scope.row.isMultiple == 1 ? '是' : "否" }}
                            </template>
                        </el-table-column>

                        <el-table-column prop="sort" label="排序号"></el-table-column>
                        <!-- <el-table-column prop="status" label="状态">
                            <template slot-scope="scope">
                                <div :class="scope.row.status == 1 ? 'green': 'red'">
                                    {{ scope.row.status == 1 ? '正常' : '冻结' }}
                                </div>
                            </template>
                        </el-table-column> -->
                        <el-table-column prop="createTime" label="创建时间"></el-table-column>

                        <el-table-column fixed="right" label="操作">
                            <template slot-scope="scope">
                                <el-button type="text" size="small" @click="demandDest(scope.row)">
                                    详情
                                </el-button>
                                <!-- <el-button type="text" size="small"
                                    @click="pullblack({URL: 'demand_block', NUMBER: scope.row.demandId, TAG: 'demandId'})">
                                    {{ scope.row.status != 1 ? '正常' : '冻结' }}
                                </el-button> -->
                                <el-button type="text" size="small"
                                    @click="deletedata({URL: 'delete_demand', TAG: 'demandId', NUMBER: scope.row.demandId })">
                                    删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>

                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage" :page-sizes="[10, 20, 30, 40]" :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper" :total="total">
                </el-pagination>

                <el-dialog title="需求类型" :visible.sync="UpdateTableAndVisible">
                    <el-form :model="formData" label-width="180px">
                        <el-form-item label="需求名称" prop="demandTypeName">
                            <el-input v-model="formData.demandTypeName"></el-input>
                        </el-form-item>
                        <!-- <el-form-item label="需求类型" prop="demandTypeName ">
                            <el-input type="textarea" v-model="formData.demandTypeName "></el-input>
                        </el-form-item> -->
                        <el-form-item label="排序号" prop="sort">
                            <el-input v-model="formData.sort"></el-input>
                        </el-form-item>
                        <!-- <el-form-item label="状态" prop="status">
                            <el-radio-group v-model="formData.status">
                                <el-radio :label="1">正常</el-radio>
                                <el-radio :label="0">冻结</el-radio>
                            </el-radio-group>
                        </el-form-item> -->
                        <el-form-item label="多选" prop="isMultiple ">
                            <el-radio-group v-model="formData.isMultiple ">
                                <el-radio :label="1">是</el-radio>
                                <el-radio :label="0">否</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <!-- <el-form-item label="报修类型" prop="repairsTypeIds">
                            <el-table :data="tableDatass" @current-change="getTemplateRow" tooltip-effect="dark"
                                height="300px">
                                <el-table-column label="选择" width="55">
                                    <template slot-scope="scope">
                                        <el-radio v-model="tableRadio" :label="scope.row"><i></i></el-radio>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="machineName" label="设备类型">
                                    <template slot-scope="scope">
                                        {{ scope.row.machineName == -1 ? '无' : scope.row.machineName }}
                                    </template>
                                </el-table-column>
                                <el-table-column prop="repairsTypeName" label="类型"></el-table-column>
                                <el-table-column prop="repairsName" label="类型名称"></el-table-column>
                            </el-table>
                        </el-form-item> -->
                        <el-form-item label="收费项目" prop="demandChargeIds">
                            <el-table :data="option" @selection-change="handleSelectionChange" tooltip-effect="dark"
                                ref="multipleTable" height="300px">
                                <el-table-column type="selection" width="55"></el-table-column>
                                <el-table-column prop="demandChargeName" label="名称"></el-table-column>
                                <el-table-column prop="priceStr" label="价格"></el-table-column>
                            </el-table>
                        </el-form-item>

                        <div class="btn-center" style="text-align: center; margin: 20px;">
                            <el-button type="primary" @click="demandsubmit(formData)">提交
                            </el-button>
                        </div>
                    </el-form>
                </el-dialog>

            </el-main>
        </el-container>
    </div>
</body>

</html>