<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../public/stylesheets/plugin/element.min.css">
    <script src="../../public/javascripts/plugin/vue.js"></script>
    <script src="../../public/javascripts/plugin/element.min.js"></script>

    <title></title>
</head>


<body class="_scrollbar">
    <div id="c-container-list" style="height: 100%;" data-uri="sys_work_list" v-loading.fullscreen.lock="loading">
        <el-container>
            <el-main>
                <el-main>
                    <el-form>
                        <el-input placeholder="请输入内容" v-model="listSearch._value_" class="_searchVal">
                            <el-select v-model="listSearch._name_" class="_searchVal_select" slot="prepend"
                                placeholder="请选择">
                                <el-option label="工单号" value="workId"></el-option>
                                <el-option label="联系人名称" value="contactName"></el-option>
                            </el-select>
                        </el-input>

                        <div class="_search_centent" v-show="more">
                            <el-button>状态</el-button>
                            <el-select v-model="listSearch.status" slot="prepend" placeholder="请选择">
                                <el-option label="不限" value=""></el-option>
                                <el-option label="进行中" value="1"></el-option>
                                <el-option label="已完成" value="2"></el-option>
                                <el-option label="已取消" value="3"></el-option>
                            </el-select>
                        </div>
                        <div class="more_search el-icon-circle-plus-outline" v-show="!more" @click="more = !more">
                            更多搜索条件
                        </div>
                        <div class="more_search el-icon-remove-outline" v-show="more" @click="more = !more"> 收起 </div>

                        <el-button icon="el-icon-search" class="_search_btn" @click="list(listSearch)">搜索
                        </el-button>
                    </el-form>
                    <el-form>
                        <!-- <el-button class="_search_btn" @click="list({uri: 'sys_work_order_list'})">工单订单</el-button>
                        <el-button class="_search_btn" @click="list({uri: 'complete_work_list'})">已完成工单</el-button>
                        <el-button class="_search_btn" @click="list({uri: 'underway_work_list'})">进行中工单</el-button>
                        <el-button class="_search_btn" @click="list({uri: 'cancel_work_list'})">已取消工单</el-button> -->
                    </el-form>
                    <template>
                        <el-table :data="tableData" stripe style="width: 100%" border>
                            <el-table-column prop="workId" label="工单号"></el-table-column>
                            <el-table-column prop="machineName" label="设备名称"></el-table-column>
                            <el-table-column prop="repairsTypeName" label="保修类型"></el-table-column>
                            <el-table-column prop="shopName" label="门店名称"></el-table-column>
                            <el-table-column prop="contactName" label="联系人名称"></el-table-column>
                            <el-table-column prop="contactPhone" label="联系人电话"></el-table-column>

                            <el-table-column prop="status" label="工单状态">
                                <template slot-scope="scope">
                                    <div
                                        :class="scope.row.status == 4 ? 'green' : scope.row.status == 19 ? 'ccc' : 'red'">
                                        {{
                                            scope.row.status == 19 ?
                                            '已取消'
                                            : scope.row.status == 4 ? 
                                            '已完成' 
                                            : '进行中'
                                        }}
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column prop="createTime" label="创建时间"></el-table-column>

                            <el-table-column fixed="right" label="操作">
                                <template slot-scope="scope">
                                    <el-button type="text" size="small" @click="orderdest(scope.row)">
                                        详情
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>

                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                        :current-page="currentPage" :page-sizes="[10, 20, 30, 40]" :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper" :total="total">
                    </el-pagination>

                    <el-dialog title="工单退款" :visible.sync="UpdateVisible" width="50%">
                        <el-form :data="SearchTableFormData" label-width="140px">
                            <el-form-item label="退款订单号" prop="orderId">
                                <el-input v-model="SearchTableFormData.orderId"></el-input>
                            </el-form-item>
                            <el-form-item label="退款金额" prop="refund">
                                <el-input v-model="SearchTableFormData.refund"></el-input>
                            </el-form-item>
                            <div class="btn-center" style="text-align: center; margin: 20px;">
                                <el-button type="primary"
                                    @click="refundorder({orderId: SearchTableFormData.orderId,refund:SearchTableFormData.refund })">
                                    提交
                                </el-button>
                            </div>
                        </el-form>
                    </el-dialog>

                    <el-dialog title="工单详情" :visible.sync="UpdateTableAndVisible">
                        <el-form :model="formData" label-width="180px">

                            <div>需求信息：</div>
                            <div style="border-bottom: 1px solid #ccc; width: 100%;margin-top: 3px;"></div>
                            <el-form-item label="服务类型：" prop="repairsTypeName">
                                <!-- <el-input v-model="formData.repairsTypeName"></el-input> -->
                                {{formData.repairsTypeName}}
                            </el-form-item>

                            <el-form-item label="需求名称：" prop="demandName">
                                <!-- <el-input v-model="formData.demandName"></el-input> -->
                                {{formData.demandName}}
                            </el-form-item>

                            <el-form-item label="需求类型：" prop="demandType">
                                <!-- <el-radio-group v-model="formData.demandType">
                                    <el-radio :label="1">远程指导</el-radio>
                                    <el-radio :label="2">上门</el-radio>
                                </el-radio-group> -->
                                {{formData.demandType == 1 ? '远程指导' : '上门'}}
                            </el-form-item>

                            <el-form-item label="故障描述：" prop="faultContent">
                                <!-- <el-input v-model="formData.faultContent"></el-input> -->
                                {{formData.faultContent}}
                            </el-form-item>

                            <el-form-item label="故障部分图：" prop="faultPartPic">
                                <!-- <el-input v-model="formData.faultPartPic"></el-input> -->
                                <div v-for="(item,i) in formData.faultPartPic">
                                    <el-image :src="item" :preview-src-list="formData.srcList"
                                        style="width: 50px; height: 50px; float: left;" lazy>
                                        <div slot="placeholder" class="image-slot">
                                            加载中<span class="dot">...</span>
                                        </div>
                                        <div slot="error">
                                            <img style="width:40px" src="http://zgksx.com/images/error_image.png" />
                                        </div>
                                    </el-image>
                                </div>
                            </el-form-item>

                            <el-form-item label="机器品牌图：" prop="machineBrandPic">
                                <!-- <el-input v-model="formData.machineBrandPic"></el-input> -->
                                <div v-for="(item,i) in formData.machineBrandPic">
                                    <el-image :src="item" :preview-src-list="formData.srcList"
                                        style="width: 50px; height: 50px; float: left;" lazy>
                                        <div slot="placeholder" class="image-slot">
                                            加载中<span class="dot">...</span>
                                        </div>
                                        <div slot="error">
                                            <img style="width:40px" src="http://zgksx.com/images/error_image.png" />
                                        </div>
                                    </el-image>
                                </div>
                            </el-form-item>

                            <el-form-item label="机器整体图：" prop="machineOverallPic">
                                <!-- <el-input v-model="formData.machineOverallPic"></el-input> -->
                                <div v-for="(item,i) in formData.machineOverallPic">
                                    <el-image :src="item" :preview-src-list="formData.srcList"
                                        style="width: 50px; height: 50px; float: left;" lazy>
                                        <div slot="placeholder" class="image-slot">
                                            加载中<span class="dot">...</span>
                                        </div>
                                        <div slot="error">
                                            <img style="width:40px" src="http://zgksx.com/images/error_image.png" />
                                        </div>
                                    </el-image>
                                </div>
                            </el-form-item>


                            <div>门店信息：</div>
                            <div style="border-bottom: 1px solid #ccc; width: 100%;margin-top: 3px;"></div>
                            <el-form-item label="门店名称：" prop="shopName">
                                <!-- <el-input v-model="formData.shopName"></el-input> -->
                                {{formData.shopName}}
                            </el-form-item>
                            <el-form-item label="联系地址：">
                                {{ formData.province + formData.city + formData.district + formData.address }}
                            </el-form-item>

                            <div>联系人信息：</div>
                            <div style="border-bottom: 1px solid #ccc; width: 100%;margin-top: 3px;"></div>

                            <el-form-item label="联系人名称：" prop="contactName">
                                <!-- <el-input v-model="formData.contactName"></el-input> -->
                                {{formData.contactName}}
                            </el-form-item>

                            <el-form-item label="联系人电话：" prop="contactPhone">
                                <!-- <el-input v-model="formData.contactPhone"></el-input> -->
                                {{formData.contactPhone}}
                            </el-form-item>

                            <div>师傅信息：</div>
                            <div style="border-bottom: 1px solid #ccc; width: 100%;margin-top: 3px;"></div>
                            <el-form-item label="维修师傅名称：" prop="maintainerName">
                                <!-- <el-input v-model="formData.maintainerName"></el-input> -->
                                {{formData.maintainerName == -1 ? '无' : formData.maintainerName}}
                            </el-form-item>

                            <el-form-item label="维修师傅电话：" prop="maintainerPhone">
                                <!-- <el-input v-model="formData.maintainerPhone"></el-input> -->
                                {{formData.maintainerPhone == -1 ? '无' : formData.maintainerPhone}}
                            </el-form-item>

                            <div>订单信息：</div>
                            <div style="border-bottom: 1px solid #ccc; width: 100%;margin-top: 3px;"></div>
                            <el-form-item label="用户端用户微信昵称：" prop="nickName">
                                <!-- <el-input v-model="formData.nickName"></el-input> -->
                                {{formData.nickName}}
                            </el-form-item>

                            <el-form-item label="支付总金额展示：" prop="paymentStr">
                                <!-- <el-input v-model="formData.paymentStr"></el-input> -->
                                {{formData.paymentStr}}
                            </el-form-item>

                            <el-form-item label="工单耗时：" prop="timeConsumingStr">
                                <!-- <el-input v-model="formData.timeConsumingStr"></el-input> -->
                                {{formData.timeConsumingStr == -1 ? '无' : formData.timeConsumingStr}}
                            </el-form-item>
                            <el-form-item label="上门费用：" prop="visitCostStr">
                                <!-- <el-input v-model="formData.visitCostStr"></el-input> -->
                                {{formData.visitCostStr}}
                            </el-form-item>

                            <el-form-item label="状态：" prop="status">
                                <!-- <el-radio-group v-model="formData.status">
                                    <el-radio :label="1">已确认/已支付定金/待沟通</el-radio>
                                    <el-radio :label="2">已联络/待派单</el-radio>
                                    <el-radio :label="3">已派单/维修中</el-radio>
                                    <el-radio :label="5">已完成/已回访</el-radio>
                                    <el-radio :label="18">已提交/未确认</el-radio>
                                    <el-radio :label="19">已取消</el-radio>
                                </el-radio-group> -->
                                {{
                                    formData.status == 4 ?
                                    '已完成'
                                    : formData.status == 19 ?
                                    '已取消' 
                                    : '进行中'
                                }}
                            </el-form-item>

                            <div class="btn-center" style="text-align: center; margin: 20px;">
                                <el-button v-show="formData.status == 1" type="primary" @click="contactorder(formData)">
                                    工单沟通
                                </el-button>
                                <el-button v-show="formData.status == 2" type="primary" @click="goorder(formData)">工单派单
                                </el-button>
                                <el-button v-show="formData.status == 3" type="primary" @click="denorder(formData)">完成工单
                                </el-button>
                                <el-button v-show="formData.status != 4 && formData.status != 19" type="primary"
                                    @click="celorder(formData)">取消工单
                                </el-button>
                                <el-button v-show="formData.orderCount > 0" type="primary" @click="order(formData)">查看订单
                                </el-button>
                            </div>
                        </el-form>
                    </el-dialog>


                    <el-dialog title="工单派送" :visible.sync="SearchTableAndVisible">
                        <el-form :model="SearchTableFormData" label-width="180px">
                            <el-table :data="options" @current-change="getTemplateRow" tooltip-effect="dark"
                                ref="multipleTable" height="300px">
                                <el-table-column label="选择" width="55">
                                    <template slot-scope="scope">
                                        <el-radio v-model="tableRadio" :label="scope.row"><i></i></el-radio>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="maintainerName" label="师傅名称"></el-table-column>
                                <el-table-column prop="maintainerPhone" label="师傅联系电话"></el-table-column>
                            </el-table>
                            <div class="btn-center" style="text-align: center; margin: 20px;">
                                <el-button type="primary" @click="goorder({work: SearchTableFormData.workId})">派送
                                </el-button>
                            </div>
                        </el-form>
                    </el-dialog>

                    <el-dialog title="工单订单" :visible.sync="dialogVisible" width="80%">
                        <el-table :data="option" tooltip-effect="dark" height="500px">
                            <el-table-column prop="orderId" label="订单号"></el-table-column>
                            <el-table-column prop="paymentStr" label="支付金额"></el-table-column>
                            <el-table-column prop="refundStr" label="已退款金额"></el-table-column>
                            <el-table-column prop="status" label="订单状态">
                                <template slot-scope="scope">
                                    {{ scope.row.status == 1 ? '未支付' : scope.row.status == 2 ? '已支付' : '已取消' }}
                                </template>
                            </el-table-column>
                            <el-table-column prop="createTime" label="创建时间"></el-table-column>
                            <el-table-column fixed="right" label="操作">
                                <template slot-scope="scope">
                                    <el-button type="text" v-show="scope.row.orderType == 1 && scope.row.status == 2"
                                        size="small" @click="refundorder(scope.row)">
                                        退款
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-dialog>

                    <el-dialog title="确认完成工单" :visible.sync="TableAndVisible">
                        <el-form :model="SearchTableFormDatas" label-width="180px">
                            <el-form-item label="工单号" prop="workId">
                                <el-input v-model="SearchTableFormDatas.workId"></el-input>
                            </el-form-item>
                            <el-form-item label="工单金额" prop="payments">
                                <el-input v-model="SearchTableFormDatas.payments"></el-input>
                            </el-form-item>
                            <div class="btn-center" style="text-align: center; margin: 20px;">
                                <el-button type="primary" @click="denorder(SearchTableFormDatas)">确认完成
                                </el-button>
                            </div>
                        </el-form>
                    </el-dialog>

                    <el-dialog title="取消工单" :visible.sync="detailTableAndVisible" :before-close="handleClose">
                        <el-form :model="DataVisible" label-width="180px">
                            <el-form-item label="工单号" prop="work">
                                <el-input v-model="DataVisible.work"></el-input>
                            </el-form-item>
                            <el-form-item label="取消原因" prop="cancelContent">
                                <el-input v-model="DataVisible.cancelContent"></el-input>
                            </el-form-item>
                            <el-form-item label="退款" prop="needRefund" v-show="DataVisible.orderCount > 0">
                                <el-radio-group v-model="formData.needRefund">
                                    <el-radio :label="0">否</el-radio>
                                    <el-radio :label="1">是</el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="订单号" prop="orderId" v-show="DataVisible.orderCount > 0">
                                <el-table :data="optiones" @current-change="getTemplateRows" tooltip-effect="dark"
                                    ref="multipleTables" height="200px">
                                    <el-table-column label="选择" width="55">
                                        <template slot-scope="scope">
                                            <el-radio v-model="tableRadio" :label="scope.row"><i></i></el-radio>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="orderId" label="订单号"></el-table-column>
                                    <el-table-column prop="paymentStr" label="支付金额"></el-table-column>
                                </el-table>
                            </el-form-item>
                            <el-form-item label="工单金额" prop="refund" v-show="DataVisible.orderCount > 0">
                                <el-input v-model="DataVisible.refund"></el-input>
                            </el-form-item>
                            <div class="btn-center" style="text-align: center; margin: 20px;">
                                <el-button type="primary" @click="celorder(DataVisible)">确认取消
                                </el-button>
                            </div>
                        </el-form>
                    </el-dialog>

                    <el-dialog title="工单沟通" :visible.sync="adoptModule" :before-close="handleClose">
                        <el-form :model="DataVisible" label-width="180px">
                            <el-form-item label="工单号" prop="workId">
                                <el-input v-model="DataVisible.workId"></el-input>
                            </el-form-item>
                            <el-form-item label="沟通内容" prop="contactContent">
                                <el-input type="textarea" v-model="DataVisible.contactContent"></el-input>
                            </el-form-item>
                            <div class="btn-center" style="text-align: center; margin: 20px;">
                                <el-button type="primary" @click="contactorder(DataVisible)">确认
                                </el-button>
                            </div>
                        </el-form>
                    </el-dialog>

                </el-main>
        </el-container>
    </div>
</body>

</html>